* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    font-family: "Open Sans", serif;
    margin: auto;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


    /* header */
header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(rgba(96,96,96,0.55), rgba(91,91,91,0.5)), url(./images/hero_tads.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navLogo{
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.navList{
    display: flex;
    list-style-type: none;
    font-size: 16px;
    gap: 20px;
}
a{
    color: #ffffff;
    text-decoration: none;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    color: #ffffff;
    gap: 15px;
}
.hero h1{
    font-size: 60px;
}
.hero p{
    font-size: 28px;
}
.hero button{
    font-size: 28px;
    background-color: #00420c;
    padding: 15px 30px;
    color: #ffffff;
}


    /*generico */
section{
    width: 100%;
    padding: 125px 0px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    gap: 80px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    gap: 35px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
main h1{
    font-size: 32px;
}
main hr{
    width: 125px;
    height: 5px;
    background-color: black;
}


    /* area de atuação */
#areaDeAtuacao{
    background-color: #ffffff;
}
.images{
    display: flex;
    flex-direction: column;
    gap: 40px;  
}
.topImages, .bottonImages{
    height: 350px;
    display: flex;
    gap: 40px;
}
.bigImg{
    width: 700px;
}
.smallImg{
    width: 500px;
}
img{
    object-fit: fill;
}


    /* destaque */
#destaque{
    background-color: #e9e2e2;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.card{
    text-align: center;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 16px;
    line-height: 30px;
}
.card h1{
    font-size: 20px;
}
.card span{
    font-size: 50px;
}


    /* mercado de trabalho */
#mercadoDeTrabalho{
    background-color: #ffffff;
    gap: 0px;
}

.trabalhoInfo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 16px;
    line-height: 30px;
    margin-top: 35px;
    margin-bottom: 50px;
}
.info{
    width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.info h2{
    font-size: 18px;
    font-weight: normal;
}


    /* receba novidades */
#recebaNovidades{
    background-color: #e9e2e2;
}
form {
    width: 800px;
    display: flex;
    gap: 20px;
}
form #email{
    padding: 15px;
    font-size: 20px;
    flex-grow: 0.7;
}
form #inscreverAgora{
    font-size: 20px;
    flex-grow: 0.3;
    color: white;
    background-color: #00420c;
}

    
    /* footer */
footer{
    width: 100%;
    height: 180px;
    background-color: #414a4f ;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: white;
    font-weight: 100;
}
footer span{
    font-weight: 500;
}